localfont unicode
setdefault=0
set timeout=0

search --no-floppy --file /boot/vmlinuz64 --set root

insmod normal
insmod linux
insmod all_video
set gfxmode=1366x768x32
set gfxpayload=keep
set gfxterm_font=unicode
terminal_output gfxterm

menuentry "ckrnl" {
    linux /boot/vmlinuz64 quiet text
    initrd /boot/corepure64.gz
}
