display boot.msg
default ControlOC

label ControlOC
	kernel ../vmlinuz64 
	initrd ../corepure64.gz
	append init=/init quiet loglevel=0

label CkrnlRecovery
	kernel ../vmlinuz64
	initrd ../corerec.gz
	append init=/init quiet loglevel=0
	
mplicit 0
prompt 0
timeout 0
